<div class="header">
  <div class="grid1by2">
    <app-intervention-list-counter class="left" [nbInterventions]="nbInterventions"></app-intervention-list-counter>
    <app-intervention-list-range class="right fit-content hide-xs"></app-intervention-list-range>
  </div>
  <div class="header-sub-2">
    <app-intervention-list-search class="left-sub-2"></app-intervention-list-search>
    <app-intervention-button [routerLink]="'/intervention/create'" class="right-sub-2">DÉCLARER UNE INTERVENTION</app-intervention-button>
  </div>
</div>
