<div class="container">
  <form [formGroup]="interventionForm" class="box">
    <div class="title">
      <mat-icon color="primary" class="icon-chat material-icons-outlined">chat_outline</mat-icon><span class="aligned-with-icon">DÉCLARER UNE INTERVENTION</span>
    </div>

    <p [class.valid]="!this.interventionForm.get('content').invalid">
      <mat-form-field appearance="legacy">
        <mat-label>QUE S'EST-IT PASSÉ ?</mat-label>
        <textarea
          cdkTextareaAutosize
          matInput
          formControlName="content"
          #autosize="cdkTextareaAutosize"
          maxlength="240"
          minlength="40"
          required
        ></textarea>
        <mat-hint align="end">{{this.interventionForm.get('content').value.length}} / 240</mat-hint>
        <div class="mdc-text-field-helper-line"></div>
        <mat-error *ngIf="this.interventionForm.get('content').invalid">{{getContentErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>

    <p [class.valid]="!this.interventionForm.get('type').invalid">
      <mat-form-field appearance="legacy" [hideRequiredMarker]="true">
        <mat-label>TYPE D'INTERVENTION</mat-label>
        <textarea
          cdkTextareaAutosize
          matInput
          formControlName="type"
          maxlength="25"
          required
        ></textarea>
        <mat-error *ngIf="this.interventionForm.get('type').invalid">{{getTypeErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>

    <p [class.valid]="!this.interventionForm.get('title').invalid">
      <mat-form-field appearance="legacy" [hideRequiredMarker]="true">
        <mat-label>DONNE UN TITRE À TON INTERVENTION</mat-label>
        <input
          matInput
          maxlength="40"
          formControlName="title"
          required
        >
        <mat-error *ngIf="this.interventionForm.get('title').invalid">{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>

    <p [class.valid]="!this.interventionForm.get('email').invalid">
      <mat-form-field appearance="legacy" [hideRequiredMarker]="true">
        <mat-label>TON E-MAIL</mat-label>
        <input
          matInput
          formControlName="email"
          required
        >
        <mat-error *ngIf="this.interventionForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>

    <p [class.valid]="!this.interventionForm.get('author').invalid">
      <mat-form-field appearance="legacy" [hideRequiredMarker]="true">
        <mat-label>TON PRÉNOM</mat-label>
        <input
          matInput
          formControlName="author"
          maxlength="30"
          required
        >
        <div class="mdc-text-field-helper-line"></div>
        <mat-error *ngIf="this.interventionForm.get('author').invalid">{{getAuthorErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>

    <div class="submit-button">
      <app-intervention-button (click)="addIntervention()" class="right-sub-2">ENVOYER</app-intervention-button>
    </div>

  </form>
</div>
