<div class="container" *ngIf="interventions.length > 0">
  <div class="interventions">

    <div
      *ngFor="let intervention of interventions; let i = index"
      class="intervention intervention{{ i + 1 }}"
    >
      <div class="grid-content">
        <p class="type">{{ intervention.type.toUpperCase() }}</p>
        <h2 class="title">{{ intervention.title.toUpperCase() }}</h2>
        <p class="content">{{ intervention.content }}</p>
      </div>
      <div class="bottom-grid">
        <div class="user">
          <div class="avatar" [ngStyle]="{'background-image':'url(' + intervention.avatar + ')'}"></div>
          <p class="username">{{ intervention.author }}</p>
        </div>
        <div class="date-container">
          <p class="date">{{ durationinterventions[i] }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
