/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

* {
  font-family: Avenir-Heavy,Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

@media (max-width: 599px) {
  .hide-xs {
    display: none!important;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(50, 50, 50, 0.2);
}
